h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0.6rem;
  margin-block-end: 0.6rem;
}
body {
  margin: 0;
  background-color: #f9fafb;
}

.App {
  font-family: sans-serif;
}

.flex {
  display: flex;
  height: 100vh;
}
